@{
    ViewData["Title"] = "Detail Promotion";
}
<h1>@ViewData["Title"]</h1>

   <div class="jumbotron jumbotron-fluid banner-page " style="">
            <img class="" src="~/images/banner_mini.png" alt="">
            <div class="container">
                <h1 class="display-4">ข่าวสารและโปรโมชั่น</h1>
                <p class="lead">NEWS AND PROMOTION</p>
            </div>
        </div>

        <div class="modal fade" id="modaltool3" tabindex="-1" role="dialog" aria-labelledby="modaltool3Label"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modaltool3Label">คำนวณค่าคอมมิชชั่น</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div role="form" class="form-container cal_detail mt-3">

                            <p>ซื้อ/ขายหุ้น (บาท)</p>
                            <!--<input id="txtBuy" type="text" onchange="calCommision();" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');this.onchange();" />-->
                            <input id="txtBuy" type="text" class="number"><br><br>

                            <label style="font-size:94.5%">ค่าคอมมิชชั่น *</label><br>
                            <label><span id="lblCom"></span></label><br>


                            <label style="font-size:94.5%">

                                ค่าธรรมเนียมตลาดฯ และ กำกับดูแล (0.007%)
                            </label><br>
                            <label><span id="lblFee"></span></label><br>

                            <label style="font-size:94.5%">
                                <label style="font-size:94.5%">ภาษีมูลค่าเพิ่ม (7%)</label>

                            </label><br>
                            <label><span id="lblTax"></span></label><br>

                            <label><span id="lblSum"></span></label><br>
                            <label><span style="color:red;font-size:94.5%">*ค่าคอมมิชชั่นที่ใช้คำนวณ
                                    เป็นค่าคอมมิชชั่นของบัญชีประเภท Cash Balance และ Credit Balance</span></label>
                            <div class="btn-footer">
                                <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="promotion mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-3 col-sm-3">
                        <section>
                            <ul class="sidebar-menu mt-5 mt-sm-0">

                                <li class="active">
                                     <a asp-controller="Home" asp-action="Service">โปรโมชั่น</a>
                                  
                                </li>
                                <li>
                                    <a href="#">
                                        <span>News from SBITO </span> <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="newsfromsbito.php">ประกาศและข่าวสาร


                                            </a></li>
                                        <li><a href="turnoverandCautionreport.php"> Turnover and Caution report</a>
                                        </li>
                                        <li><a href="xr.php"> XR / Warrant / Tender</a></li>
                                         <li><a href="seminar.php"> สัมมนา</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="newsfromsettfex.php">Stock exchange and
                                        organization </a>
                                </li>
                                <li>
                                       <a href="prnews.php">PR NEWS</a>
                                </li>

                            </ul>
                            <div class="open_sidebar mt-5 d-none d-sm-block">
                                <img src="~/images/open_sidebar.png" alt="">
                            </div>

                        </section>

                    </div>
                    <div class="col-xl-9 col-md-9 col-sm-9">
                        <div class="head_promotion">
                            <h1>
                                ย้ายโบรก โยกพอร์ต
                            </h1>
                        </div>
                        <div class="promotion_detail mt-5">
                            <img src="~/images/pm_d1.png" alt="">
                            <h1>
                                ย้ายโบรก โยกพอร์ตมา SBITO วันนี้ ฟรีบัตร Tesco Lotus
                            </h1>
                            <h3>
                                สิทธิประโยชน์ของแคมเปญ
                            </h3>
                            <h5>
                                สิทธิพิเศษสำหรับ : ลูกค้าที่เปิดบัญชีซื้อขายหลักทรัพย์ใหม่และโอนหุ้น
                                มาที่บริษัทหลักทรัพย์ เอสบีไอ ไทย ออนไลน์ จำกัด
                            </h5>
                            <p>
                                1 : ผู้ใช้บริการลงทะเบียนเปิดบัญชีซื้อขายหลักทรัพย์
                                และบัญชีได้รับการอนุมัติพร้อมกับมีรายการโอนหุ้นมายังบัญชีที่เปิดใหม่รับฟรี
                                "บัตร Tesco Lotus" มูลค่าสูงสุด 2,000 บาท * และฟรีประกันคุ้มครองการเจ็บ ป่วยมูลค่า 250
                                บาท (เฉพาะ 100 คนแรกเท่านั้น)
                                ภายในวันที่ 1 สิงหาคม 2563 - 31 ธันวาคม 2563
                            </p>
                            <br>
                            <h3>
                                เงื่อนไขแคมเปญ
                            </h3>
                            <p>
                                <li>
                                    โปรโมชั่นนี้ไม่รวมค่าธรรมเนียมตลาด ค่าชำระราคาและส่งมอบหลักทรัพย์
                                    ค่าธรรมเนียมการกำกับดูแลและภาษีมูลค่าเพิ่ม 7%



                                </li>
                                <li>
                                    ลูกค้าใหม่ หมายถึง เป็นผู้ไม่เคยเปิดบัญชีหลักทรัพย์กับบริษัทหลักทรัพย์ เอสบีไอ ไทย
                                    ออนไลน์ (บริษัท)

                                </li>
                                <li>
                                    บัญชีหลักทรัพย์ใหม่ หมายถึง บัญชีหลักทรัพย์ที่ไม่เคยเปิดกับบริษัทหลักทรัพย์ เอสบีไอ
                                    ไทย ออนไลน์ (บริษัท) มาก่อน

                                </li>
                                <li>
                                    บัญชีหลักทรัพย์ที่เข้าร่วมแคมเปญนี้ คือ บัญชีแคชบาลานซ์ และบัญชีแคช เท่านั้น

                                </li>
                                <li>
                                    โปรโมชั่นนี้สำหรับผู้เปิดบัญชีแคชบาลานซ์หรือบัญชีแคชผ่านช่องทางแคมเปญนี้
                                    ภายในระยะเวลาที่บริษัทกำหนดเท่านั้น ไม่สามารถใช้ร่วมกับโปรโมชั่นอื่นได้

                                </li>
                                <li>
                                    กำหนดการโอนหุ้นไม่เกิน 20 รายชื่อหุ้น/สิทธิ์/ระยะเวลาแคมเปญ โดย 1
                                    รายชื่อหุ้นจะได้รับบัตร Tesco Lotus มูลค่า 100 บาท
                                    (ลูกค้าจะได้รับสิทธิเฉพาะการโอนหุ้นในครั้งแรกเท่านั้น
                                    การโอนหุ้นตัวเดิมในครั้งถัดไปจะไม่ได้รับสิทธิ)
                                </li>
                                <li>
                                    บัตร Tesco Lotus จะได้รับเมื่อบัญชีใหม่เปิดสำเร็จและได้รับการอนุมัติ
                                    และมีรายการโอนหุ้นมายังบัญชีใหม่ภายในระยะเวลาที่บริษัทกำหนด
                                    และผู้ใช้บริการจะได้รับบัตร Tesco Lotus ภายในวันที่ 15 ของเดือนถัดไป
                                    บริษัทขอสงวนสิทธิ์ของรางวัลนี้ไม่สามารถแลก คืน เปลี่ยนเป็นเงินสด หรือหุ้น
                                    รวมถึงไม่สามารถโอนให้แก่บุคคล หรือนิติบุคคลอื่นได้
                                </li>
                                <li>
                                    บริษัทอาจมีการเปลี่ยนแปลงเงื่อนไขแคมเปญได้โดยมิต้องแจ้งให้ทราบล่วงหน้า
                                    การตัดสินของบริษัทถือเป็นสิ้นสุด
                                </li>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>