@{
    ViewData["Title"] = "สินค้าและบริการ";
}
<h1>@ViewData["Title"]</h1>

    <div class="wrapper"> 

<div class="jumbotron jumbotron-fluid banner-page " style="">
    <img class="d-none d-md-block" src="~/images/banner_mini.png" alt="">
    <img class="d-block d-md-none" src="~/images/mb_ourservice.png" alt="">
    <div class="container">
        <h1 class="display-4">สินค้าและบริการ</h1>
        <p class="lead">PRODUCT AND SERVICES</p>
    </div>
</div>
<section class="shortcutkey mt-lg-5">
    <div class="container-md">
        <div class="sidebar-tab sidebar-tab1 nohover" id="fixed_cart_icon">
            <div>
                <a  asp-controller="Home" asp-action="RequestOnline">
                    <img class="icon_side1" src="~/images/sck_04.png" width="60" alt="">
                    <img class="icon_side2" src="~/images/sck_03.png" width="70" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar-tab2 sidebar-tab" id="fixed_cart_icon">
            <div>
                 <a  asp-controller="Home" asp-action="OpenAccount">
                    <img class="icon_side1" src="~/images/sck_08_03.png" width="80" alt="">
                    <img class="icon_side2" src="~/images/sck_09_03.png" width="60" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar-tab3 sidebar-tab" id="fixed_cart_icon">
            <div data-toggle="modal" data-target="#modaltool3">
                <div>
                    <img class="icon_side1" src="~/images/sck_06_03.png" width="60" alt="">
                </div>
            </div>


        </div>
    </div>

</section>

     <div class="modal fade" id="modaltool3" tabindex="-1" role="dialog" aria-labelledby="modaltool3Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modaltool3Label">คำนวณค่าคอมมิชชั่น</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div role="form" class="form-container cal_detail mt-3">
                                              
                        <p>ซื้อ/ขายหุ้น (บาท)</p>
                        <!--<input id="txtBuy" type="text" onchange="calCommision();" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');this.onchange();" />-->
                        <input id="txtBuy" type="text" class="number"><br><br>
                
                        <label style="font-size:94.5%">ค่าคอมมิชชั่น *</label><br>
                        <label><span id="lblCom"></span></label><br>
                
                
                        <label style="font-size:94.5%">
                
                            ค่าธรรมเนียมตลาดฯ และ กำกับดูแล (0.007%)
                        </label><br>
                        <label><span id="lblFee"></span></label><br>
                
                        <label style="font-size:94.5%">
                            <label style="font-size:94.5%">ภาษีมูลค่าเพิ่ม (7%)</label>
                
                        </label><br>
                        <label><span id="lblTax"></span></label><br>
                
                        <label><span id="lblSum"></span></label><br>
                        <label><span style="color:red;font-size:94.5%">*ค่าคอมมิชชั่นที่ใช้คำนวณ เป็นค่าคอมมิชชั่นของบัญชีประเภท Cash Balance และ Credit Balance</span></label>
                      <div class="btn-footer">
                        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>

                      </div>
                
                    </div>
                </div>
               
              </div>
            </div>
          </div>
        <div class="ourservice mb-5">
            <div class="container ">
                <div class="row">
                    <div class="col-xl-3 col-md-3 col-sm-3">
                        <section class="pull-right d-none d-md-block">
                            <ul class="sidebar-menu">
                                <li>
                                    &nbsp;
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <span>หุ้น</span>
                                        <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li class="active">
                                            <a href="ours_CashBalance.php"> Cash Balance <i class="fa  fa-caret-right pull-right"></i></a>
                                            <ul class="sidebar-submenu menu-open">
                                                <li><a href="ours_CashBalance.php">Commision เทียบกับตลาด</a></li>
                                                <li><a href="commission_cal1.php">เครื่องคิดเลขคำนวณค่าคอมฯ</a></li>
                                                <li><a href="howtoopenacc.php">วิธีการเปิด / เอกสารที่ต้องใช้</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Cash Account<i class="fa  fa-caret-right pull-right"></i></a>
                                            <ul class="sidebar-submenu">
                                                <li><a href="ours_CashAccount.php">Commision เทียบกับตลาด</a></li>
                                                <li><a href="commission_cal2.php">เครื่องคิดเลขคำนวณค่าคอมฯ</a></li>
                                                <li><a href="howtoopenacc_ac.php">วิธีการเปิด / เอกสารที่ต้องใช้</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Credit Balance <i class="fa  fa-caret-right pull-right"></i></a>
                                            <ul class="sidebar-submenu menu-open">
                                                <li><a href="ours_CreditBalance.php">Commision เทียบกับตลาด</a></li>
                                                <li><a href="https://www.sbito.co.th/Margin/Views/Margin/Marginstock.aspx">Marginable Stock List</a></li>
                                                <li><a href="commission_cal3.php">เครื่องคิดเลขคำนวณค่าคอมฯ</a></li>
                                                <li><a href="howtoopenacc_creditb.php">วิธีการเปิด / เอกสารที่ต้องใช้</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>อนุพันธ์</span>
                                        <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="productforservices.php">สินค้าที่ขาย</a>

                                        <li><a href="../../index.php">Commission เทียบกับตลาด / อัตราหลักประกัน</a>
                                        <li><a href="howtoopenacc_2.php">วิธีการเปิด / เอกสารที่ต้องใช้</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>กองทุน</span>
                                        <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="whyopenfund.php">ทำไมต้องเปิดกองทุนกับ SBITO</a></li>

                                        <li><a href="fundproduct.php">มีกองทุนอะไรบ้าง</a>
                                        <li><a href="howtoopenacc_fund.php">วิธีการเปิด / เอกสารที่ต้องใช้</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>เทรดต่างประเทศ</span>
                                        <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="#">Commision เทียบกับตลาด</a></li>


                                        <li><a href="../../index.php">ข้อดี เทียบกับตลาด</a>
                                        <li><a href="../../index.php">วิธีการเปิด / เอกสารที่ต้องใช้</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>เครื่องมือการลงุทน </span> <i class="fa  fa-caret-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="https://www.sbito.co.th/upload/Manual_1508903616_91646.pdf">Streaming</a></li>
                                        <li><a href="https://www.sbito.co.th/sbitradeai/default.aspx">SBITrade AI</a></li>
                                    </ul>
                                </li>


                            </ul>
                            <div class="open_sidebar mt-5">
                                <img src="~/images/open_sidebar.png" alt="">
                            </div>

                        </section>
                        <section class="d-block d-md-none">
                            <ul class="sidebar-menu sidebar-menumb">
                             
                                <li>
                                    <a href="#">
                                        <span>Commission เทียบกับตลาด</span>
                                        <i class="fas fa-bars"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="ours_CashBalance.php" > Commission เทียบกับตลาด</a>
                                            <a href="commission_cal1.php"> เครื่องคิดเลขคำนวณค่าคอมฯ </a>
                                            <a href="howtoopenacc.php"> วิธีการเปิด / เอกสารที่ต้องใช้</a>
                                          
                                        </li>
                                      
                                    </ul>
                                </li>

                      

                            </ul>
                            <div class="open_sidebar mt-5 d-none d-md-block">
                                <img src="~/images/open_sidebar.png" alt="">
                            </div>

                        </section>
                    </div>
                    <div class="col-xl-9 col-md-9 col-sm-9">
                        <div class="head_ourservice d-none d-md-block">
                            <h1>
                                Commission เทียบกับตลาด
                            </h1>
                        </div>
                        <div class="ourservice_detail">
                            <div class="ourdetail_head1">
                                <h1>บัญชี Cash Balance</h1>
                                <h3>อัตราค่าคอมมิชชั่น</h3>
                            </div>
                            <div class="tb_commission">
                                <table class="table table-striped" border="1" cellspacing="5" cellpadding="5"
                                    style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th style="" rowspan="3">มูลค่าการซื้อขายต่อวัน
                                                (ล้านบาท)</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 253px;" colspan="2">ส่งคำสั่งเองผ่าน Streaming</th>
                                            <th style="  background-color: rgba(0, 0, 0, 0.4);" rowspan="2">ผ่านเจ้าหน้าที่การตลาด [%]</th>
                                        </tr>
                                        <tr>
                                            <th style="  background-color: rgba(0, 0, 0, 0.4);"> SBITO</th>
                                            <th style=""> ทั่วไป</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr>
                                            <td style=""> 0 < = 5</td> 
                                            <td style="">0.075%</td>
                                            <td style="">0.150%</td>
                                            <td style="">0.250%</td>
                                        </tr>
                                        <tr>
                                            <td style="">5 < = 10</td> 
                                            <td style=""> 0.065%</td>
                                            <td style="">0.130%</td>
                                            <td style="">0.220%</td>
                                        </tr>
                                        <tr>
                                            <td style="">10 < = 20</td> <td style="">
                                                    0.055%</td>
                                            <td style="">0.110%</td>
                                            <td style="">0.180%</td>
                                        </tr>


                                        <tr>
                                            <td style=""> > 20</td>
                                            <td style="">0.020%</td>
                                            <td style="">0.100%</td>
                                            <td style="">0.150%</td>
                                        </tr>
                                        <tr>
                                            <td style="">ค่าธรรมเนียมขั้นต่ำต่อวัน</td>
                                            <td style="" >ไม่มี</td>
                                            <td style="" >ไม่มี</td>
                                            <td style="">50 บาท</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="remark_our mb-5">
                                <h4>
                                    หมายเหตุ
                                </h4>
                                <ul>
                                    <li>
                                        ค่าธรรมเนียมนี้ยังไม่รวม *ค่าธรรมเนียมตลาด 0.005% ,
                                        ค่าชำระราคาและส่งมอบหลักทรัพย์ 0.001%, ค่าธรรมเนียมการกำกับดูแล 0.001% และ Vat
                                        7%
                                    </li>
                                    <li>
                                        การคิดคำนวนค่าธรรมเนียมในแต่ละมูลค่าการเทรด ตัวอย่าง เช่น
                                        ถ้ามูลค่าการเทรดของลูกค้าต่อวัน คือ 8 ล้านบาท ค่าธรรมเนียมในการเทรดหุ้น ของ 5
                                        ล้านบาทแรก ถูกคิดในอัตรา 0.075% ส่วนที่เหลือ 3 ล้านบาท จะถูกคิดในอัตรา 0.065%
                                    </li>

                                </ul>
                            </div>

                            <div class="ourdetail_head">
                                <h3>ค่าธรรมเนียมอื่นๆ</h3>
                            </div>
                            <div class="tb_fax mt-3">
                                <table class="table" style="border-top:thick solid #005ea1;font-size:24px;">
                                    <tbody>
                                        <tr>
                                            <th scope="col"><span>การขอออกใบหลักทรัพย์</span></th>
                                            <th scope="col"><span>300 บาท / ใบหุ้น</span></th>

                                        </tr>
                                        <tr>
                                            <td><span
                                            ><span>โอนหลักทรัพย์ไปบริษัทหลักทรัพย์อื่น</span></span>
                                            </td>
                                            <td><span>100 บาท / หลักทรัพย์</span></td>

                                        </tr>
                                        <tr>
                                            <td><span
                                            ><span>ออกเอกสารย้อนหลังทุกประเภท</span></span>
                                            </td>
                                            <td><span>100 บาท / รายการ</span></td>

                                        </tr>
                                        <tr>
                                            <td><spa><span>เปลี่ยนสถานะหลักทรัพย์(Local เป็น
                                                        NVDR หรือ NDVR เป็น Local)</span></spa></td>
                                            <td><span>50 บาท / รายการ</span></td>

                                        </tr>
                                        <tr>
                                            <td><span
                                            ><span>ขอเอกสารยืนยันสถานะบัญชี</span></span>
                                            </td>
                                            <td><span>100 บาท / รายการ</span></td>

                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="ourdetail_head">
                                <h3>อัตราดอกเบี้ย</h3>
                                
                            </div>
                            <div class="tb_fax mt-3">
                                <table class="table" style="border-top:thick solid #005ea1;font-size:24px;">
                                    <tbody>
                              
                                         
                                        <tr>
                                            <td style="width: 73%;"><spa><span>อัตราดอกเบี้ยเงินฝาก</span></spa>
                                            </td>
                                            <td><span>ไม่มี</span></td>

                                        </tr>
                                       
                                    </tbody>
                                    
                                </table>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/calculatecommission.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <script src='https://codepen.io/z-/pen/a8e37caf2a04602ea5815e5acedab458.js'></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/coin.js"></script>
    <script src="~/js/js.js"></script>
    <script src="~/js/sidebar.js"></script>
    <script>
        $.sidebarMenu($('.sidebar-menu'))
    </script>
    <script>
        $.sidebarMenumb($('.sidebar-menu'))
    </script>
    